body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Chivo Mono', sans-serif;
  align-items: center;
  text-align: center;
}

   * {
    box-sizing: border-box;
  }
   .container { 
    max-wight: 1440px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
.section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
}
.section-title {
  align-items: center;
  text-transform: uppercase;    
}
.section-title1{
  font-size: 50px;
}
.line{
  text-decoration: line-through;
}